.tour-guide {
  width: 45%;
  background-color: white;
  margin: 10px;
}
img {
  width: 100%;
}
.text-container {
  padding-left: 20px;
}
.tour-name {
  font-family: 'Roboto';
  font-size: 20px;
  color: #334155;
  font-weight: 500;
}
.tour-desc {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
}
